.forgotpassword-wrap{
  width: 100%;
  height: 86.7vh;
  padding: 20px;
  padding-top: 5%;
}
.signuplayout-header-444 {
  width: 100%;
  margin-top: 0%;
  /* padding-bottom: 9%; */
  /* width: 319px; */
  /* height: 100vh; */
}
.signUp-hello123-444{
  font-size: 28px;
  display: flex;
  align-items: flex-start;
  padding-left: 160px;
  font-family: "PlusJakartaSansSemiBold";
  padding-top: 10px;
  color: #ffffff;
  width: 100%;
}
.signup-form123-444 {
  width: 100%;
  max-width: 500px;
  /* margin: 0 auto; */
  padding-left: 160px;
  padding-top: 15px;
  display: flex;
  text-align: left;
}
.signUp-hello6543-subtext-444 {
  font-size: 14px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  /* padding-left: 160px; */
  flex-wrap: wrap;
  font-weight: 400;
  /* font-family: 'PlusJakartaSans-Regular'; */
  color: #ffff;
  text-align: left !important;
  scrollbar-width: none;
}
.form-group123-444 {
  margin-top: 10%;
  padding-bottom : 8px;
  font-family: 'PlusJakartaSans-Regular';
  
  /* position: relative; */
  border-bottom: 2px solid #333; /* Change the color as per your design */
}
.form-group123-444 input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px !important;
  border: none;
  /* border-bottom: 2px solid #333; */
  outline: none;
  background-color:transparent !important;
  color: #fff; /* Change the color as per your design */
}
.form-group123-444 input::placeholder {
  color: #aaa;
}
.linear-button123-444 {
  background: linear-gradient(90deg, var(--color-primary) 0%,var(--color-primary) 100%);
  border: none;
  border-radius: 25px;
  /* color: white; */
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'PlusJakartaSans-Regular';
  cursor: pointer;
  transition: background 0.3s ease;
  width: 100%;
  max-width: 500px;
  margin-top: 20%;
}

.linear-button123-444:hover {
  background: linear-gradient(90deg,var(--color-primary) 0%,var(--color-primary) 100%);
}

.linear-button123-444:focus {
  outline: none;
}
.new-paget{
  margin-left: 10%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content:flex-start;
  float: left;
  width: 95% !important;
}
.forgotpassword-wrap .com-flex-start {
  margin-left: 0% !important;
}
@media (max-width:1200px) {
  .signUp-hello123-444 {
    /* font-size: 28px; */
    display: flex;
    align-items: flex-start;
    padding-left: 80px;
  }
  .signup-form123-444 {
    width: 100%;
    max-width: 500px;
    padding-left: 60px;
    padding-top: 15px;
  }
  .signup-form123-444 {
    width: 90%;
    max-width: 500px;
    padding-left: 80px;
    padding-top: 15px;
  }
}
@media (max-width:800px) {
  .signuplayout-header-444 {
    width: 100%;
    margin-top: 0%;
    /* padding-bottom: 9%; */
    /* width: 319px; */
    height:auto;
  }
  .signUp-hello6543-subtext-444 {
    text-align: center !important;
  }
  .signUp-hello123-444 {
    font-size: 28px;
    display: flex;
    justify-content: center;

    text-align: center;
    align-items:center;
    padding-left: 0px;
  }
  .signup-form123-444 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    /* margin: 0 auto; */
    padding-left: 0%;
    padding-top: 15px;
  }
  .signup-form123-444 form{
    width: 280px;

  }
  .new-paget{
    margin-left: -58%;
    float: left;
    width: 100% !important;
  }
}
@media (max-width:480px) {
  .signuplayout-header-444 {
    width: 100%;
    /* padding-bottom: 9%; */
    /* width: 319px; */
    height: 100vh;
    padding-bottom: 50%;
  }
  .new-paget{
    padding-top: 25%;
  }
  .signUp-hello123-444 {
    font-size: 16px;
    display: flex;
    align-items: flex-start;
    padding-left: 0px;
  }
  .signup-form123-444 {
    width: 100%;
    max-width: 500px;
    /* margin: 0 auto; */
    padding-left: 0px;
    padding-top: 15px;
  }
  /* .form-group123-444 input {
    width: 80%;
    padding: 10px 0;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    background: transparent;
    color: #fff; 
  } */
  .form-group123-444 {
    font-family: 'PlusJakartaSans-Regular';
  }
  
  .form-group123-444 input {
    width: 100%;
    padding: 10px 0;
    font-size: 14px !important;
    border: none;
    outline: none;
    background: transparent;
    color: #fff; /* Change the color as per your design */
  }
  .new-paget{
    margin-left: -8%;
    float: left;
    width: 100% !important;
  }
  .signUp-hello6543-subtext-444 {
    font-size: 12px !important;
  }
}

/* .forgetpassword-header {
  width: 100%;
  height: 86.7vh;
  padding: 20px;
}
.new-b-tit{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap :1rem;
}
.forgetpassword-layouth {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 0px;
}

.forgetpassword-backbutton {
  background: #2C2C2E;
  width: 32px;
  height: 32px;
  border-radius: 20px;
}

.forgetpassword-hello {
  font-size: 32px;
  display: flex;
  align-items: flex-start;
  font-family: 'PlusJakartaSansSemiBold';
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
  text-align: center;
}

.forgetpassword-subtext {
  font-size: 12px;
  display: flex;
  align-items: flex-start;
  padding-left: 60px;
  flex-wrap: wrap;
  font-weight: 200;
  font-family: 'PlusJakartaSans-Regular';
  text-align: left;
  width: 83%;
}

.forgetpassword-form {
  width: 100%;
  max-width: 500px;
  padding-left: 60px;
  padding-top: 15px;
}

.forgetpassword-form-group {
  padding-bottom: 20px;
}

.forgetpassword-form-group input {
  font-family: 'PlusJakartaSans-Regular';
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  background: transparent;
  color: #fff;
}

.forgetpassword-form-group input::placeholder {
  color: #aaa;
}

.forgetpassword-linear-button {
  background: linear-gradient(90deg, var(--color-primary) 0%, var(--color-primary) 100%);
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'PlusJakartaSans-Regular';
  cursor: pointer;
  transition: background 0.3s ease;
  width: 100%;
  max-width: 500px;
  color: #fff;
}

.forgetpassword-linear-button:hover {
  background: linear-gradient(90deg, var(--color-primary) 0%, var(--color-primary) 100%);
}

.forgetpassword-linear-button:focus {
  outline: none;
} */

/* Tablet and small desktop screens */
/* @media only screen and (max-width: 1024px) {
  .forgetpassword-layouth {
      padding-left: 80px;
  }
  .forgetpassword-hello {
      font-size: 28px;
      padding-left: 80px;
  }
  .forgetpassword-subtext {
      padding-left: 80px;
  }
  .forgetpassword-form {
      padding-left: 80px;
  }
} */

/* Mobile screens */
/* @media only screen and (max-width: 780px) {
  .forgetpassword-layouth {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 20px;
  }
  .forgetpassword-hello {
    font-size: 28px;
    display: flex;
    align-items: flex-start;
    padding-left: 26px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    
  }
  .forgetpassword-subtext {
    font-size: 10px;
    display: flex;
    align-items: flex-start;
    padding-left: 26px;
  
  }
  .forgetpassword-form {
    width: 100%;
    max-width: 350px;
    padding-left: 24px;
    padding-top: 15px;
  }
  .forgetpassword-form-group {
      max-width: 350px;
  }
  .forgetpassword-linear-button {
      font-size: 14px;
      max-width: 350px;
  }
} */

/* Extra small mobile screens */
/* @media only screen and (max-width: 480px) {
  .forgetpassword-header {
    width: 100%;
    
    padding: 10%;
  }
  .forgetpassword-header {
      padding: 10%;
      padding-top: 0;
  }
  .forgetpassword-hello {
      font-size: 26px;
      padding-left: 25px;
      padding-bottom: 0;
      text-align: center;
  }
  .forgetpassword-subtext {
      font-size: 12px;
      padding-left: 25px;
      text-align: left;
  }
  .forgetpassword-form-group input {
      font-size: 14px;
  }
  .forgetpassword-linear-button {
      font-size: 14px;
      max-width: 100%;
  }
} */
