.Verificationlayout-header {
  width: 100%;
  height: 86.7vh;
  padding: 20px;
  padding-top: 2%;
}

.Verificationlayout-layouth {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 180px;
}

.Verificationlayout-backbutton {
  background: #2C2C2E;
  width: 32px;
  height: 32px;
  border-radius: 20px;
}

.Verificationlayout-hello {
  font-size: 28px;
  display: flex;
  align-items: flex-start;
  padding-left: 160px;
  /* font-family: 'integralcf-bold'; */
  font-family: "PlusJakartaSansSemiBold";
  padding-top: 15px;
  padding-bottom: 5px;
}

.Verification-hello-subtext {
  font-size: 14px;
  display: flex;
  align-items: flex-start;
  padding-left: 160px;
  flex-wrap: wrap;
  font-weight: 400;
  /* width: 100% !important; */
  /* font-family: 'PlusJakartaSans-Regular'; */
}

.Verification-form {
  width: 100%;
  max-width: 500px;
  padding-left: 160px;
  padding-top: 15px;
}

.Verification-form-group {
  position: relative;
  padding-bottom: 20px;
  padding-top: 10%;
}

.Verification-form-group input {
  font-family: 'PlusJakartaSans-Regular';
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  background: transparent;
  color: #fff;
}

.Verification-timer{
  position: absolute;
  right: 5%;
  bottom: 30%;
}

.Verification-form-group input::placeholder {
  color: #aaa;
}

.Verification-above-btn-text{
  font-weight: 600;
  padding-top: 30px;
  color: var(--color-primary);
  padding-bottom: 15px;
}

.Verification-linear-button {
  background: linear-gradient(90deg, var(--color-primary) 0%, var(--color-primary) 100%);
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'PlusJakartaSans-Regular';
  cursor: pointer;
  transition: background 0.3s ease;
  width: 80%;
  max-width: 500px;
  font-weight: 400;

}

.Verification-linear-button:hover {
  background: linear-gradient(90deg, var(--color-primary) 0%, var(--color-primary) 100%);
}

.Verification-linear-button:focus {
  outline: none;
}

/* Tablet and small desktop screens */
@media (max-width: 1024px) {
  .Verificationlayout-header {
    width: 100%;
    /* height: 86.7vh; */
    padding: 20px;
    padding-top: 10%;
  }
  .Verificationlayout-layouth {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 60px;
  }
  .Verificationlayout-hello {
    /* font-size: 32px; */
    display: flex;
    align-items: flex-start;
    padding-left: 60px;
    /* font-family: 'integralcf-bold'; */
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .Verification-hello-subtext {
      padding-left: 60px;
      text-align: left;
  }
  .Verification-form {
      padding-left: 60px;
      width: 90%;
  }
  .Verification-linear-button {
    background: linear-gradient(90deg, var(--color-primary) 0%, var(--color-primary) 100%);
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'PlusJakartaSans-Regular';
    cursor: pointer;
    transition: background 0.3s ease;
    width: 80%;
    max-width: 500px;
    /* font-weight: 600; */
  
  }
  .Verification-above-btn-text{
    padding-top: 40px;
    color: var(--color-primary);
    padding-bottom: 30px;
  }
}

/* Mobile screens */
@media (max-width: 780px) {
  .ver-back{
    display: flex;
    justify-content: flex-start;
    padding-left: 20%;
    padding-bottom: 5%;
    width: 100%;
  }
  .Verificationlayout-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 0;
    
  }
  .Verificationlayout-layouth {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 0px;
  }
  .Verificationlayout-hello {
    /* font-size: 28px; */
    display: flex;
    align-items: center;
    padding-left: 0px;
    /* font-family: 'integralcf-bold'; */
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .Verification-hello-subtext {
    font-size: 12px;
    display: flex;
    align-items: center;
    padding-left: 0px;
    text-align: center;
  }
  .Verification-form {
    width: 100%;
    max-width: 350px;
    padding-left: 0px;
    padding-top: 15px;
  }
  .Verification-form-group {
      max-width: 350px;
      padding-top: 8%;
  }
  .Verification-linear-button {
      font-size: 14px;
      max-width: 350px;
  }
  .Verification-above-btn-text {
    padding-top: 50px;
}
}

/* Extra small mobile screens */
@media (max-width: 480px) {
  .Verificationlayout-header {
    height: 60vh;
    padding: 0px;
    width: 250px;
  }
.ver-back{
  margin-left: -15%;
  padding-left: 0;
  padding-top: 5%;
}
  .Verificationlayout-hello {
      font-size: 16px;
      padding-left: 0px;
      /* text-align: center; */
  }
  .Verification-hello-subtext {
      font-size: 10px;
      padding-left: 0px;
      text-align: center;
  }
  
  .Verification-form-group input {
    /* width: 100%; */
    padding: 10px 0;
    font-size: 14px;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    background: transparent;
    color: #fff;
  }
.Verification-form form{
  display: block;
}
  .Verification-form {
    width: 100%;
    /* max-width: 250px; */
    padding-left: 0px;
    padding-top: 15px;
  }

  .Verification-above-btn-text{
    padding-top: 20px;
    color: var(--color-primary);
    padding-bottom: 10px;
  }
 
  .Verification-linear-button {
      font-size: 14px;
      /* max-width: 100%; */
  }
}
  