/* Default styling for desktop */
.notification {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10000;
  max-width: 100%;
  box-sizing: border-box;
  width: auto;
  max-width: 400px;
  z-index: 1000;
  animation: slide-in 0.5s ease-out forwards;
}

/* Responsive styling for tablets and mobile */
@media (max-width: 768px) {
  .notification {
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    bottom: auto;
    right: auto;
    max-width: 300px;
  }
}


@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}