.overall-certi{
    padding-bottom: 10%;
  }
  .qr-code {
    display: flex;
    justify-content: center; /* Centers horizontally */
    position: absolute;
    top: 60%;
    width: 100%; /* Ensures the container spans the full width of the page */
  }
  
  #react-qrcode-logo{
  width: 100px !important;
  height: 100px !important;
  }
  .cer-n-btn{
    align-content: center;
    margin-top: 2%;
    /* float: right; */
    width: 40%;
  height: 50px;
  background-color: #FF5F67;
  border-radius: 30px;
  font-family: "OpenSans-Regular";
  font-size: 17px;
  font-weight: 400;
  line-height: 23.15px;
  text-align: center;
  color:rgb(255, 255, 255);
  /* margin-left: 40%; */
  cursor: pointer;
  }
  .cer-p-btn{
    align-content: center;
    margin-top: 2%;
    /* float: right; */
    width: 40%;
  height: 50px;
  border-radius: 30px;
  font-family: "OpenSans-Regular";
  font-size: 17px;
  font-weight: 400;
  line-height: 23.15px;
  text-align: center;
  color:rgb(255, 255, 255);
  /* margin-left: 40%; */
  }
  .cer-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 50px;
  }
  .cer-top-cont{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    top: 6%;
    left: 6.4%;
    /* transform: translate(-20%, -50%); */
  }
  .certificate-img1>img{
    position: relative;
    width:480px;
    /* height: 455px; */
  }
  .certi-div{
    /* position: absolute;
    top: 10%;
    left: 11%;
    transform: translate(-50%, -50%); */
            color: #c9aa4e;
          font-size: 20px;
            /* font-family :'HankenGrotesk-Medium'; */
            font-family: 'Cardo-Regular';
            text-align: left;
            
  }
  .certificate-container{
    /* margin-left: 14%; */
    /* margin-right: 6%; */
    margin-top: 3%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cerificate-sub-text{
    /* font-family: 'OpenSans-Regular'; */
    font-family: 'Cardo-Regular';
  font-size: 16px;
  font-weight: 600;
  line-height: 21.79px;
  text-align: center;
    margin-top: 2%;
  }
  .swal2-confirm{
  background-color: #FF5F67;
  }
  .certi-title1{
    /* position: absolute;
      top: 18%;
      left: 12%;
      transform: translate(-50%, -50%); */
      color: black;
      font-size: 14px;
      text-align: left;
      /* font-weight: bold */
      /* font-family: 'HankenGrotesk-Regular'; */
      font-family: 'Cardo-Regular';
  }
  .certi-sub1{
    position: absolute;
    top: 37.4%;
    left: 24.1%;
    /* transform: translate(-50%, -50%); */
    color: black;
    font-size: 10px;
    /* font-family:'HankenGrotesk-Regular' ; */
    font-family: 'Cardo-Regular';
  }
  .certi-sub1-valid{
    position: absolute;
    top: 40.2%;
    left: 13%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 10px;
    /* font-family:'OpenSans-Semibold' ; */
    font-family:'Cardo-Regular';
  }
  .certi-sub1-tail{
    position: absolute;
    top: 45.2%;
    left: 36%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 10px;
    /* font-family:'HankenGrotesk-Regular' ;
     */
    font-family:'Cardo-Regular' ;

  }
  .certi-sub1-until{
    position: absolute;
    top: 45.2%;
    left: 13.3%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 10px;
    /* font-family:'OpenSans-Semibold' ; */
    font-family: 'Cardo-Regular';

  }
  .certi-sub-sub1{
    position: absolute;
    top: 35.2%;
    left: 30.9%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 10px;
    /* font-family:'HankenGrotesk-Regular' ; */
    font-family: 'Cardo-Regular';

  }
  .certi-sub-sub-head{
    position: absolute;
    top: 35.2%;
    left: 14%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 10px;
    /* font-family:'OpenSans-Semibold' ; */
    font-family: 'Cardo-Regular';

  }
  div:where(.swal2-container) .swal2-textarea {
    height: 3rem !important;
    padding: .75em;
    overflow:hidden;
  }
  div:where(.swal2-container) h2:where(.swal2-title) {
    position: relative;
    max-width: 100%;
    margin: 0;
    padding: .8em 1em 0;
    color: black !important;
    font-size: 1.3rem !important;
  }
  .swal2-select {
    display: none !important;
    width: 0px !important;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus, 
  input:-webkit-autofill:active{
      -webkit-box-shadow:0 0 0 30px rgb(255, 255, 255) inset !important;
  }
  
  input{
    outline: none;
    /* height: 20px; */
  }
  
input{
  outline: none;
  /* height: 20px; */
}
.sign0ut-text1-00 {
  width: 100%;
  /* margin: 5%; */
}
.sign0ut-text1-00 input::placeholder {
  text-align: center;     /* Center horizontally */
  color: #aaa;            /* Placeholder color */
  font-size: 1.2rem;
}
.sign0ut-text1-00 input{
  outline: none;
  border: none;
  height: 2.5rem;
  border-radius: 12px;
  align-items: center;
  width:80%;
  height: 35px;
}
.signoutbtn1-00 h5{
  font-family: "OpenSans-Regular";
  font-size: 17px;
  font-weight: 400;
  line-height: 23.15px;
  text-align: center;
  margin-top: -1.2rem;
}
.signoutbtn1-00 h1{
  font-family: "PlusJakartaSans-Bold";
  font-size: 20px;
  font-weight: 400;
  line-height: 23.15px;
  text-align: center;
}
.signoutbtn1-00 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.signoutbtn1-00 button {
  align-content: center;
  /* margin-top: 3%; */
  width: 80%;
  height: 40px;
  top: 1648px;
  left: 895px;
  border: none;
  background-color: #FF5F67;
  border-radius: 30px;
  font-family: "OpenSans-Regular";
  font-size: 17px;
  font-weight: 400;
  line-height: 23.15px;
  text-align: center;
  color: rgb(255, 255, 255);
}
  @media (max-width:990px) {
  
    .cer-btn-container{
      display: flex;
      flex-direction: row;
      /* justify-content: space-around; */
      margin: 2%;
    }
    .cer-n-btn{
      align-content: center;
      margin-top: 2%;
      /* float: right; */
      width: 50%;
    height: 40px;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 600;
    line-height: 23.15px;
    text-align: center;
    /* margin-left: 40%; */
    }
    
    .certificate-img1>img{
      position: relative;
      width:480px;
      }
    .certificate-container{
      margin-left: 10%;
      margin-right: 10%;
      /* margin-top: 4%; */
      display: flex;
      flex-direction: column;
    }
    .cerificate-sub-text{
    font-size: 14px;
    font-weight: 400;
    line-height: 19.79px;
    text-align: left;
      margin-left: 14%; 
      margin-top: 2%;
    }
    
  }
  @media (max-width:480px) {
    .certificate-img1>img{
      position: relative;
      width:480px;
      }

    .cer-n-btn{
      margin-top: 2%;
      /* float: right; */
      width: 100%;
    height: 25px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21.15px;
    /* margin-left: 40%; */
    cursor: pointer;
    }
    .cer-btn-container{
      display: flex;
      flex-direction: row;
      /* justify-content: space-around; */
      margin: 3%;
    }
  
    .cerificate-sub-text{
    font-size: 6px;
    line-height: 13px;
    margin-left: 0;
    }
    .certificate-container{
      padding-bottom: 15%;
    }
   
    .certi-sub1{
      position: absolute;
      top: 48%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: black;
      font-size: 6px;
    }
    /* .certi-sub1-tail{
      position: absolute;
      top: 48%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: black;
      font-size: 6px;
    } */
    .qr-code {
      display: flex;
      justify-content: center; /* Centers horizontally */
      position: absolute;
      top: 50%;
      left: 43%;
      width:35px; /* Ensures the container spans the full width of the page */
  
    }
    
  }
  
  
  
  .com-left-arrow-main-11{
    background-color: #2C2C2E;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-content: center;
  box-shadow: 0px 0px 1px 1px #00BBD140;
  
  }
  .com-flex-start-111{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 3%;
    margin-left: 35%;
    /* justify-content:safe; */
    /* grid-template-columns:5% 20% ; */
    
  }
  .com-title-11{
    /* font-family: "PlusJakartaSans-Bold"; */
    font-size: 32px;
    font-weight: 400;
    line-height: 43px;
    text-align: left;
    margin-left: 3%;
    }
    .com-left-arrow-11>img{
      width: 11px;
      height: 21px;
      align-items: center;
      text-align: center;
    }
    @media (max-width:800px) {
      .certi-title1{
        /* position: absolute;
          top: 18%;
          left: 11.5%;
          transform: translate(-50%, -50%); */
          color: black;
          font-size: 16px;
          /* font-weight: bold */
          /* font-family: 'HankenGrotesk-Regular'; */
      }
      .certi-div{
        /* position: absolute;
                top: 10%;
                left: 10.5%;
                transform: translate(-50%, -50%); */
                color: #caad52;
              font-size: 20px;
                /* font-family :'HankenGrotesk-Medium'; */
      }
      .certificate-img1>img{
        position: relative;
        width:100%;
        }
        .certi-sub-sub1{
          position: absolute;
          top: 34.5%;
          left: 28.9%;
          transform: translate(-50%, -50%);
          color: black;
          font-size: 10px;
          /* font-family:'HankenGrotesk-Bold' ; */
        }
        .certi-sub-sub-head{
          position: absolute;
          top: 34.5%;
          left: 13%;
          transform: translate(-50%, -50%);
          color: black;
          font-size: 10px;
          /* font-family:'OpenSans-Semibold' ; */
        }
        .certi-sub1{
          position: absolute;
          top: 37.2%;
          left: 23.6%;
          /* transform: translate(-50%, -50%); */
          color: black;
          font-size: 10px;
          /* font-family:'HankenGrotesk-Regular' ; */
        }
        .certi-sub1-valid{
          position: absolute;
          top: 39.5%;
          left: 12.2%;
          transform: translate(-50%, -50%);
          color: black;
          font-size: 10px;
        }
      .certi-sub1-tail{
        position: absolute;
        top: 45%;
        left: 33.1%;
        /* transform: translate(-50%, -50%); */
        color: black;
        font-size: 10px;
        /* font-family:'HankenGrotes/k-Regular' ; */
      }
      .certi-sub1-until{
        position: absolute;
        top: 45%;
        left: 12.6%;
        transform: translate(-50%, -50%);
        color: black;
        font-size: 10px;
      }
      .com-left-arrow-main-11{
        width: 40px;
        height: 40px;
        margin-top: 1%;
      }
  
      .com-title-11{
        font-size: 22px;
        }
        .com-left-arrow-11>img{
          width: 9px;
          height: 18px;
        }
    }

    @media (max-width: 680px) {
      .certi-sub-sub1 {
        top: 34.5%;
        left: 34.5%;
        /* font-family: 'HankenGrotesk-Bold'; */
      }

      .certi-sub1 {
        top: 36.8%;
        left: 28.2%;
    }

    .certi-sub1-tail {
      top: 45%;
      left: 39.1%;
  }

    }

    @media (max-width: 620px) {
      .certi-sub-sub1 {
        top: 34.5%;
        left: 34.5%;
        /* font-family: 'HankenGrotesk-Bold'; */
      }

      .certi-sub1 {
        top: 36.8%;
        left: 27.8%;
    }

    .certi-sub1-tail {
      top: 45%;
      left: 39.5%;
  }

    }

        @media (max-width: 580px) {
          .certi-sub-sub1 {
            top: 34.5%;
            left: 34.5%;
            /* font-family: 'HankenGrotesk-Bold'; */
          }

          .certi-sub1 {
            top: 36.5%;
            left: 26.9%;
        }

        .certi-sub1-tail {
          top: 45%;
          left: 40%;
      }
    
        }

        @media (max-width: 520px){
          .certi-sub1 {
            top: 36.5%;
            left: 26.1%;
        }
        .certi-sub1-tail {
          left: 41%;
      }
        }

        @media (max-width:480px) {
    
          .signoutbtn1-00 h1 {
            font-size: 16px;
          }
    
          .sign0ut-text1-00 {
            font-size: 15px;
          }
    
          .signoutbtn1-00 button {
            font-size: 14px;
          }
    
          .sign0ut-text1-00 input::placeholder {
            font-size: 12px !important;
          }
    
          .signoutbtn1-00 h5 {
            margin-top: -.5rem;
            font-size: 14px;
    
          }
    
          .signoutbtn1-00 {
            gap: 1rem;
          }
    
          .certi-sub-sub1 {
            position: absolute;
            top: 34.5%;
            left: 29%;
            transform: translate(-50%, -50%);
            color: black;
            font-size: 4.6px;
            /* font-family:'HankenGrotesk-Bold' ; */
          }
    
          .certi-sub-sub-head {
            position: absolute;
            top: 34.5%;
            left: 11.7%;
            transform: translate(-50%, -50%);
            color: black;
            font-size: 4.6px;
            /* font-family:'HankenGrotesk-Regular' ; */
          }
    
          .certi-sub1 {
            position: absolute;
            top: 40%;
            left: 29.1%;
            /* transform: translate(-50%, -50%); */
            color: black;
            font-size: 4.6px;
            /* font-family:'HankenGrotesk-Regular' ; */
          }
    
          .certi-sub1-valid {
            position: absolute;
            top: 40%;
            left: 11.1%;
            transform: translate(-50%, -50%);
            color: black;
            font-size: 4.6px;
          }
    
          .certi-sub1-tail {
            position: absolute;
            top: 45.5%;
            left: 32.2%;
            /* transform: translate(-50%, -50%); */
            color: black;
            font-size: 4.6px;
            /* font-family:'HankenGrotesk-Regular' ; */
          }
    
          .certi-sub1-until {
            position: absolute;
            top: 45.5%;
            left: 11.3%;
            transform: translate(-50%, -50%);
            color: black;
            font-size: 4.6px;
          }
    
          .certi-title1 {
            /* top: 22%;
            left: 14.5%;
            transform: translate(-50%, -50%); */
            color: black;
            font-size: 9px;
            /* font-weight: bold */
            /* font-family: 'HankenGrotesk-Regular';     */
          }
    
          .certi-div {
            /* position: absolute;
                    top: 10%;
                    left: 14%;
                    transform: translate(-50%, -50%); */
            color: #caad52;
            font-size: 11.1px;
            /* font-family :'HankenGrotesk-Medium'; */
          }
    
          .com-left-arrow-main-11 {
            width: 23px;
            height: 23px;
            margin-top: 3%;
          }
    
          .com-title-11 {
            font-size: 16px;
            margin-left: 3%;
            line-height: 18px;
    
          }
    
          .com-left-arrow-11>img {
            width: 6px;
            height: 12px;
          }
    
          .com-left-arrow-main-11 {
            margin-top: 0;
          }
    
          .com-flex-start-11 {
            padding-top: 8%;
            /* justify-content:safe; */
            /* grid-template-columns:5% 20% ; */
    
          }
        }

     @media (max-width:420px){
      .certi-sub1-tail{
        top: 45.5%;
        left: 32.6%;
      }
     }

    @media (max-width:380px) {
      .certi-sub-sub-head{
        position: absolute;
        top: 34.5%;
        left: 12.5%;
        transform: translate(-50%, -50%);
        color: black;
        font-size: 4.6px;
        /* font-family:'HankenGrotesk-Regular' ; */
      }
      .certi-sub1-valid{
position: absolute;
        top: 40%;
        left: 11.8%;
        transform: translate(-50%, -50%);
        color: black;
        font-size: 4.6px;
      } 
      .certi-sub1-until{
        position: absolute;
        top: 45.5%;
        left: 11.9%;
        transform: translate(-50%, -50%);
        color: black;
        font-size: 4.6px;
      }
    }

    @media (max-width:340px) {
      .certi-sub-sub-head{
        position: absolute;
        top: 34.5%;
        left: 13.5%;
        transform: translate(-50%, -50%);
        color: black;
        font-size: 4.6px;
        /* font-family:'HankenGrotesk-Regular' ; */
      }
      .certi-sub1-valid{
position: absolute;
        top: 40%;
        left: 12.8%;
        transform: translate(-50%, -50%);
        color: black;
        font-size: 4.6px;
      } 
      .certi-sub1-until{
        position: absolute;
        top: 45.5%;
        left: 12.9%;
        transform: translate(-50%, -50%);
        color: black;
        font-size: 4.6px;
      }
      .certi-sub1-tail{
        position: absolute;
        top: 45.5%;
        left: 33.2%;
      }
      .certi-sub1 {
        left: 30.4%;
      }
    }