.overall-ex-form-margin{
    margin-left: 14%;
    margin-right: 14%;
    margin-top: 2%;
    padding-bottom: 8%;
  }
  .ex-form-main-container{
    display: flex;
    flex-direction: column;
    padding: 3%;
    border-radius: 12px;
    margin-top: 2%;
  }
  .ex-form-title{
    font-family: 'OpenSans-Regular';
  font-size: 21px;
  font-weight: 700;
  line-height: 28.6px;
  text-align: left;
  color:  #FFFFFF66;
  }
  .ex-form-content{
    border-bottom: 1px solid #4F4F4F;
    font-family: 'OpenSans-Regular';
  font-size: 18px;
  font-weight: 400;
  line-height: 24.51px;
  text-align: left;
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  }
  .inside-ex-form,.inside-ex-form-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .inside-ex-form img{
    width:20px;
    height:20px;
  }
  .inside-ex-form-2 img{
    width:14px;
    height:7px;
  }
  .ex-form-btn{
    align-content: center;
      margin-top: 3%;
      float: right;
      width: 20%;
    height: 40px;
    background-color: #FF5F67;
    border-radius: 30px;
    font-family: "OpenSans-Regular";
    font-size: 17px;
    font-weight: 600;
    line-height: 23.15px;
    text-align: center;
    color:rgb(255, 255, 255);
    cursor: pointer;
  }
  
  @media (max-width:800px) {
    .overall-ex-form-margin{
      margin-left: 14%;
      margin-right: 10%;
      margin-top: 2%;
      padding-bottom: 10%;
    }
    .ex-form-title{
    font-size: 19px;
    line-height: 28.6px;
    }
    .ex-form-content{
    font-size: 16px;
    font-weight: 400;
    line-height: 24.51px;
    }
    .inside-ex-form img{
      width:15px;
      height:15px;
    }
    .inside-ex-form-2 img{
      width:12px;
      height:6px;
    }
    .ex-form-btn{
      align-content: center;
        margin-top: 3%;
        float: right;
        width: 20%;
      height: 35px;
      font-size: 15px;
    }
    
  }
  
  @media (max-width:800px) {
    .overall-ex-form-margin{
      margin-left: 14%;
      margin-right: 8%;
      margin-top: 2%;
      padding-bottom: 13%;
    }
    .ex-form-title{
    font-size: 16px;
    line-height: 28.6px;
    }
    .ex-form-content{
    font-size: 13px;
    font-weight: 400;
    line-height: 20.51px;
    }
    .inside-ex-form img{
      width:10px;
      height:10px;
    }
    .inside-ex-form-2 img{
      width:8px;
      height:4px;
    }
    .ex-form-btn{
      align-content: center;
        margin-top: 3%;
        float: right;
        width: 20%;
      height: 22px;
      font-size: 13px;
    }
    
  }