.overall-is{
  margin-left: 14%;
  margin-right: 14%;
  margin-top: 2%;
  padding-bottom: 6%;
}
.is-main-container{
  border-radius: 12px;
  padding: 3%;
}
.is-add{
  font-family:'OpenSans-Regular';
font-size: 18px;
font-weight: 400;
line-height: 24.51px;
text-align: right;
color: #FF5F67;
float: right;
}
.is-title{
  font-family:'OpenSans-Regular';
font-size: 20px;
font-weight: 400;
line-height: 27.24px;
text-align: left;

}
.is-text-container{
  display: flex;
  flex-direction: column;
}
.is-main-text{
  font-family: 'OpenSans-Regular';
font-size: 16px;
font-weight: 600;
line-height: 21.79px;
text-align: left;
color: #FF5F67;
}
.is-form-container{
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}
.is-form-content h3{
  font-family: 'OpenSans-Regular';
  font-size: 18px;
  font-weight: 400;
  line-height: 24.51px;
  text-align: left;
  
}
.is-form-content img{
  width: 24px;
  height: 24px;
}
.is-form-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #626262;
  padding-bottom: 2%;
  margin-top: 2%;
}
.is-sub-btn{
  align-content: center;
  margin-top: 3%;
  float: right;
  margin-top: 10%;
  width: 20%;
height: 40px;
background-color: #FF5F67;
border-radius: 30px;
font-family: "OpenSans-Regular";
font-size: 17px;
font-weight: 600;
line-height: 23.15px;
text-align: center;
color: black;
}
.cred-modal-t-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  align-items: center;
}
.mdl-c-c-subtext{
font-family: "OpenSans-Regular";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #D9D9D9;
}
.mdl-c-c-subtext span{
 color: #ffffff;
}
.mdl-c-c-title{
font-family: "OpenSans-Regular";
font-size: 24px;
font-weight: 700;
line-height: 32px;
text-align: center;
}
.mdl-c-c-btn{
  align-content: center;
  margin-top: 3%;
  /* float: right; */
  margin-top: 10%;
  width: 80%;
height: 40px;
background-color: #FF5F67;
border-radius: 30px;
font-family: "OpenSans-Regular";
font-size: 17px;
font-weight: 600;
line-height: 23.15px;
text-align: center;
color: black;
}
.mdl-c-c-cancel{
  color: #FF5F67;
  font-family: "OpenSans-Regular";
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  
}
@media (max-width:800px) {
  .overall-is{
    margin-right: 12%;
    margin-top: 2%;
  }
  .is-main-container{
    padding: 4%;
  }
  .is-add{
  font-size: 16px;
  line-height: 22.51px;
  }
  .is-title{
  font-size: 18px;
  
  }
  .is-main-text{
  font-size: 14px;
  }
  .is-form-content h3{
    font-size: 16px;
    
  }
  .is-form-content img{
    width: 20px;
    height: 20px;
  }
  .is-sub-btn{
    margin-top: 15%;
    width: 23%;
  height: 40px;
  font-size: 16px;
  }
  .cred-modal-t-container{
    gap: 1rem;
  }
  .mdl-c-c-subtext{
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
  }
  .mdl-c-c-title{
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  }
  .mdl-c-c-btn{
    width: 80%;
  height: 40px;
  font-size: 15px;
  }
  .mdl-c-c-cancel{
    font-size: 12px;
    
  }
}
@media (max-width:480px) {
  .overall-is{
    margin-right: 10%;
    margin-top: 5%;
  }
  .is-main-container{
    padding: 4%;
  }
  .is-add{
  font-size: 11px;
  line-height: 22.51px;
  }
  .is-title{
  font-size: 12px;
  
  }
  .is-main-text{
  font-size: 13px;
  }
  .is-form-content h3{
    font-size: 13px;
    
  }
  .is-form-content img{
    width: 15px;
    height: 15px;
  }
  .is-sub-btn{
    margin-top: 15%;
    width: 35%;
  height: 30px;
  font-size: 14px;
  }
  .cred-modal-t-container{
    gap: 1rem;
  }
  .mdl-c-c-subtext{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }
  .mdl-c-c-title{
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  }
  .mdl-c-c-btn{
    width: 75%;
  height: 30px;
  font-size: 12px;
  }
  .mdl-c-c-cancel{
    font-size: 10px;
  }
}