.modal-overlay-1 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.scroll {
  overflow: hidden;
}
.modal-content-1 {
  /* background-color: white; */
  padding: 20px;
  border-radius: 32px;
  position: relative;
  max-width: 420px;
  width: 100%;
  box-shadow: 0px 0px 1px 1px #FFFFFF;
  display: flex;
  flex-direction: column;

}
.password-modal-head{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  float: right;

}
.left-arrow-dlt-modal-1{
  width: 32px;
  height:32px;
  border-radius: 50%;
  cursor: pointer;
}
.left-arrow-dlt-modal-1>img{
  width: 7px;
  height:14px;
  margin-top:30% ;
}
.password-mdl-cls-btn{
  width: 22px;
  height: 22px;
  background-color: white;
  border-radius: 50%;
  
  display: flex;
  align-items: center;
}
.close-button-1 {
  width: 20px !important;
  height: 20px !important;

  background-color: white;
  border-radius: 50%;
  /* margin-left: 90%; 
  */
  float: right;
  border: none;
  font-size: 16px !important;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 4px;
  padding-left: 1px;
}
.password-mdl-content-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 6%;
  padding-top: 0%;
}
.password-mdl-top-head{
font-family: "PlusJakartaSans-Bold";
font-size: 20px;
/* font-weight: 600; */
float: right;

line-height: 24px;
text-align: center;
}
.password-mdl-tail{
  font-family: "OpenSans-Regular";
font-size: 15px !important;
font-weight: 500;
line-height: 21.79px;
text-align: center;
margin-top: 5%;
padding-left: 2%;
}
.password-mdl-bottom{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
}
.password-btn-profile{
  align-content: center;
  margin-top: 3%;
  /* float: right; */
  width: 60%;
height: 45px;
background-color: #FF5F67;
border-radius: 30px;
font-family: "OpenSans-Regular";
font-size: 17px;
font-weight: 400;
line-height: 23.15px;
text-align: center;
color:rgb(255, 255, 255);
margin-top: 5%;
}
.cng-pwd-email{
  font-family: "OpenSans-Regular";
font-size: 17px;
font-weight: 400;
line-height: 23.15px;
text-align: left;
float: left;
color: #FF5F67;
padding-bottom: 5%;
}
.pswd-input-container{
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #505050;
  padding-top: 5%;
  margin-left: 10%;
  margin-right: 10%;

}
.pswd-input-container input{
  width:100%;
}
@media (max-width:900px) {
  .modal-content-1 {
    max-width: 330px;
  }
  .password-mdl-top-head {
    font-size: 20px;
    line-height: 24px;
  }
  .password-mdl-tail {
    font-size: 14px;
    line-height: 20px;
  }
  .password-btn-profile {
    width: 60%;
    height: 40px;
    margin-top: 7%;
    font-size: 16px;
  }
  .password-mdl-cls-btn{
    width: 20px;
    height: 20px;
  }
  .close-button-1 {
    font-size: 14px;
    cursor: pointer;
    margin-left: 84%;
    /* margin-right: 2%; */
    margin-top: 0%;
    padding-bottom: 10%;
    padding-right: 3%;
  }
  .left-arrow-dlt-modal-1{
    width: 28px;
    height:28px;
  }
  .left-arrow-dlt-modal-1>img{
    width: 7px;
    height:13px;
    margin-top:25% ;
  }
  .cng-pwd-email{
  font-size: 16px;
  line-height: 23.15px;
  }
}

@media (max-width: 480px) {
  .modal-content-1 {
    max-width: 300px;
    width: 80%;
    padding: 10px;
    border-radius: 32px !important;
    /* height:70% ; */
  }
  .password-mdl-top-head {
    font-size: 18px;
    line-height: 20px;
  }
  .password-mdl-tail {
    font-size: 13px;
    line-height: 16px;
  }
  .password-btn-profile {
    width: 60%;
    height: 35px;
    margin-top: 10%;
    font-size: 14px;
  }
  .password-mdl-cls-btn{
    width: 16px;
    height: 16px;
  }
  .close-button-1 {
    font-size: 17px;
    margin-right: 3%;
    margin-top: 2%;
  }
  .left-arrow-dlt-modal-1{
    width: 26px;
    height:26px;
  }
  .left-arrow-dlt-modal-1>img{
    width: 6px;
    height:10px;
    margin-top:10% ;
  }
  .cng-pwd-email{
    font-size: 14px;
    line-height: 23.15px;
    }
    .pswd-input-container>input{
      max-width: 100%;
      font-size: 13px;
    }
    .close-button-1 {
      font-size: 14px;
    }
}

@media (max-width: 380px) {
  .modal-content-1 {
    max-width: 70%;
    /* height:60% ; */
    /* padding-bottom: 10%; */
  }
  .password-mdl-top-head {
    font-size: 16px;
    line-height: 18px;
  }
  .password-mdl-tail {
    font-size: 13px;
    line-height: 16px;
  }
  .password-btn-profile {
    width: 60%;
    height: 30px;
    /* margin-top: 10%; */
    font-size: 12px;
  }
  .password-mdl-cls-btn{
    width: 14px;
    height: 14px;
  }
  .close-button-1 {
    font-size: 15px !important;
    margin-left:2%;
    margin-top: .0%;

  }
  .left-arrow-dlt-modal-1{
    width: 22px;
    height:22px;
  }
  .left-arrow-dlt-modal-1>img{
    width: 5px;
    height:8px;
    margin-top:15% ;
  }
  .cng-pwd-email{
    font-size: 13px;
    line-height: 23.15px;
    }
    .pswd-input-container>input{
      /* max-width: 80%; */
      font-size: 13px;

    }
    .password-btn-profile{
      font-size: 14px;

    }
}