.terms-main-container{
  padding-top: 0%;
  padding-left: 1%;
  padding-right: 10%;
  /* padding-bottom: 10%; */
}
.left-arrow-main-011{
  /* background-color: #d8d8df; */
  width: 50px;
  height: 50px;
  border-radius: 50%;
  align-content: center;
box-shadow: 0px 0px 1px 1px #00BBD140;
}
.edit-profile-flex-start-011{
  display:flex;
  flex-direction: row;
  /* justify-content:safe; */
  /* grid-template-columns:5% 20% ; */
  
}
.edit-profile-title-011{
  font-family: "PlusJakartaSans-Bold";

font-size: 32px;
font-weight: 400;
line-height: 43px;
text-align: left;
margin-left: 2%;
}
.edit-profile-left-arrow-011>img{
  width: 11px;
  height: 21px;
  align-items: center;
  text-align: center;
  /* border-radius: 50%; */
}
.terms-text-1{
  /* //styleName: Body/Semibold; */
font-family: 'PlusJakartaSans-Regular';
font-size: 20px;
font-weight: 400;
line-height: 30px;
text-align: left;
margin-top: 5%;
margin-left: -.4%;
}
.terms-text-2,.terms-text-3,.terms-text-4,.terms-text-5{
  font-family: 'OpenSans-Regular';
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  margin-top: 3%;
}
.terms-text-container{
  margin-left: 16%;
}
.terms-tit{
  /* margin-left: -12%; */
}

@media only screen and (max-width: 780px) {
  .terms-main-container {
    padding-left: 0%;
    padding-right: 9%;
  }
  .left-arrow-main-011 {
    width: 35px;
    height: 35px;
    margin-top: 1%;
  }
.edit-profile-left-arrow-011>img{
  width:12px;
  height:24px;
}
  .edit-profile-title-011 {
    font-size: 26px;
    margin-left: 1%;
  }

  .terms-text-1 {
    font-size: 18px;
  }

  .terms-text-2,
  .terms-text-3,
  .terms-text-4,
  .terms-text-5 {
    font-size: 14px;
    margin-top: 3%;
    line-height: 19px;
  }

  .terms-text-container {
    margin-left: 19%;
  }
  .terms-tit{
    /* margin-left: -11%; */
  }
}

/* Responsive Styles for max-width: 480px */
@media only screen and (max-width: 480px) {
  .terms-main-container {
    padding-left: 12.5%;
    padding-right: 4%;
    /* margin-bottom: 5%; */
    /* height: 100vh; */
  }

  .left-arrow-main-011 {
    width: 22px;
    height: 22px;
    margin-top: 4%;
  }
.edit-profile-left-arrow-011>img{
  width:7px;
  height:12px;
  margin-bottom: 15%;
}
  .edit-profile-title-011 {
    font-size: 20px;
    /* margin-left:6px; */
    margin-left:3%;
  }

  .terms-text-1 {
    font-size: 15px;
    /* margin-top: 5%; */
    /* margin-left: 15%; */
  }

  .terms-text-2,
  .terms-text-3,
  .terms-text-4,
  .terms-text-5 {
    font-size: 10px;
    margin-top: 4%;
  line-height: 16px;

  }

  .terms-text-container {
    margin-left: 10.5%;
    /* padding-bottom: 10%; */
  }
  .terms-tit{
    margin-left: 0%;
    /* padding-top: 5%; */
  }
}